<div class="comment">
  <div class="col-2">
    <em><%= comment.user.username %> at <%= comment.created_at.to_fs(:short) %></em>
  </div>
  <div class="col">
    <p>
      <%= comment.content %>
    </p>
  </div>
</div>
